/**** custom css ****/

*, 
*::after,
*::before {
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover, 
a:active {
	color: rgb(219, 10, 91);
}

.brand {
	padding: 5px;
	font-weight: 700;
	vertical-align: bottom;
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	        transition: all 0.5s;
	text-decoration: underline;
}

.brand:hover,
.brand:active {
	color: rgb(219, 10, 91);
	z-index: 20;
}


.brand--custom {
	color: rgb(240,198,213);
}

.streched-text {
	text-align: justify;
}

.description {
	font-weight: 300;
  	color: rgb(166, 164, 164);
  	
}

.description:last-of-type {
	margin-bottom: 0.90em;
}

.title {
	color: rgb(187,64,111);
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}

.content-wrap {
  min-width: 460px;
  width: 30%;
  margin: 7% auto;
  overflow: hidden;
}

.inner-content {
  position: relative;
  z-index: 10;
  backface-visibility: hidden;
  padding-right: 30px;
  float: left;
}

.invisible {
	display: none;
}

.active-box {
	border-right: 3px solid rgb(246, 36, 89);
}

.row {
	display: block;
}

.grid {
	display: block;
	float: left;
}

.grid-12 {
	width: 100%;
}

.grid-3 {
	width: 33.333%;
}

.clearfix {
	display: table;
	content: " ";
	clear: both;
}

.centered-text {
	text-align: center;
}

.bottom-title {
	text-transform: lowercase;
	font-weight: 300;
	font-size: .70em;
	color: rgb(246, 36, 89);
	font-family: 'Playfair Display', serif;
}

.bottom-title a {
	color: rgb(206,64,114);
	text-decoration: none;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	        transition: all 0.3s;
	padding: 10px;        
	vertical-align: super;
	width: 100%;
  	display: inline-block;
  	padding: 10px;
 }

.bottom-title a:hover {
	background-color: rgb(187,64,111);
	color: #fff;
}

.straigh-line {
	margin-top: 0.25em;
	margin-bottom: 0.30em;
	border: 2px solid rgb(219, 10, 91);
	width: 0%;
	transition: width 0.5s;
}

.straigh-line-animated {
	width: 100%;
}

.current-active {
	color: rgb(219, 10, 91);
}

.default-input {
	padding: 15px;
	width: 100%;
	border: 1px solid rgb(229, 229, 229);
	margin-bottom: 10px;
	color: black;
} 

.default-input[placeholder] {
	font-weight: 300;
	font-size: .65em;
	font-family: 'Playfair Display', serif
}

.default-textarea {
	padding: 15px;
	width: 100%;
	height: 140px;
	border: 1px solid rgb(229, 229, 229);
	margin-bottom: 10px;
} 

.default-textarea[placeholder] {
	font-weight: 300;
	font-size: .65em;
	font-family: 'Playfair Display', serif
}

.btn {
	background: none;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	font-weight: 700;
	padding: 10px 35px;
	font-size: 0.65em;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	        transition: all 0.3s;
}

.btn:before {
	position: absolute;
	z-index: -1;
	width: 20px;
	background-color: bl 	ue;
	left: 0;
	top: 0;
	content: "";
}

.btn:hover {
	background: rgb(187,64,111);
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.btn--custom {
	border: 3px solid rgb(187,64,111);;
	color: rgb(187,64,111);
}

.pull-right {
	text-align: right;
}

.modal {
	z-index: 100;
	background: rgba(23, 20, 21, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	-webkit-transition: opacity 400ms;
	   -moz-transition: opacity 400ms;
	    -ms-transition: opacity 400ms;
	        transition: opacity 400ms;
}

.right-text {
	text-align: right;
}

.message {
	display: block;
	width: 100%;
	height: 40px;
	color: white;
	text-align: center;
	font-weight: 300;
} 

.message-success {
	background-color: rgb(145,219,10);
}

@media (max-width: 500px) {
	.title {
		font-size: 3em;
	}

	.description {
		font-size: 1.5em;
	}
}
