<header>
	<div class="presentation">
		<h2 class="title">Music</h2>
		<span><a href="#" class="closeBtn">X</a></span>
	</div>
	<p class="sub-title">Here are some music projects that I have been working on:</p>
</header>

<div class="option-container" id="slidr-div" style="dislay: block">
	<div data-slidr="one" class="band-section">
		<h3 class="title-2">Ocean</h3>
		<p class="description-2">Ocean is a duo freestyle band based in Porto Alegre, Brazil formed in 2012 by Antonio Mello (guitar) and Luiza Pitrez (drums). This is my <strong>current</strong> band. Additional info at: <a href="">http://therealocean.bandcamp.com</a></p>

		<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=801485254/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://therealoceanmusic.bandcamp.com/album/songs-to-listen-to-while-staring-at-the-part-1">Songs to listen to while staring at the - Part 1 by Ocean</a></iframe>
	</div>
	<div data-slidr="two" class="band-section">
		<h3 class="title-2">Deathbythecolt</h3>
		<p class="description-2">Deathbythecolt is post-hc/punk band based in Porto Alegre, Brazil formed in 2009. Even though those are still around playing, the <strong>Live Learn and Grow</strong>  album was the one I collaborated with as part of the band: <a href="">http://www.deathbythecolt.com</a></p>

		<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3094348133/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://deathbythecolt.bandcamp.com/album/deathbythecolt">deathbythecolt by deathbythecolt</a></iframe>
	</div>
	
</div>
