/**** custom css ****/

*, 
*::after,
*::before {
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover, 
a:active {
	color: rgb(219, 10, 91);
}

.brand {
	padding: 5px;
	font-weight: 700;
	vertical-align: bottom;
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	        transition: all 0.5s;
	text-decoration: underline;
}

.brand:hover,
.brand:active {
	color: rgb(219, 10, 91);
	z-index: 20;
}


.brand--custom {
	color: rgb(240,198,213);
}

.streched-text {
	text-align: justify;
}

.description {
	font-weight: 300;
  	color: rgb(166, 164, 164);
  	
}

.description:last-of-type {
	margin-bottom: 0.90em;
}

.title {
	color: rgb(187,64,111);
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}

.content-wrap {
  min-width: 460px;
  width: 30%;
  margin: 7% auto;
}

.inner-content {
  position: relative;
  z-index: 10;
  backface-visibility: hidden;
  padding-right: 30px;
  float: left;
}

.invisible {
	visibility: hidden;
}

.active-box {
	border-right: 3px solid rgb(246, 36, 89);
}

.grid {
	display: block;
	float: left;
}

.grid-12 {
	width: 100%;
}

.grid-3 {
	width: 33.333%;
}

.clearfix {
	display: table;
	content: " ";
	clear: both;
}

.centered-text {
	text-align: center;
}

.bottom-title {
	text-transform: uppercase;
	font-weight: 300;
	font-size: .70em;
	color: rgb(246, 36, 89);
	font-family: 'Playfair Display', serif
}

.bottom-title a {
	color: rgb(206,64,114);
	text-decoration: none;
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	        transition: all 0.5s;
	border: 2px solid rgba(206,64,114,.9);
	padding: 10px;        
}

.bottom-title a:hover {
	background-color: rgb(187,64,111);
	color: #fff;
	
}

.straigh-line {
	margin-top: 0.25em;
	margin-bottom: 0.90em;
	border: 2px solid rgb(219, 10, 91);
	width: 0%;
	transition: width 0.5s;
}

.straigh-line-animated {
	width: 100%;
}

.current-active {
	color: rgb(219, 10, 91);
}

.default-input {
	padding: 15px;
	width: 100%;
	border: 1px solid rgb(229, 229, 229);
	margin-bottom: 10px;
	color: black;
} 

.default-input[placeholder] {
	font-weight: 300;
	font-size: .65em;
	font-family: 'Playfair Display', serif
}

.default-textarea {
	padding: 15px;
	width: 100%;
	height: 140px;
	border: 1px solid rgb(229, 229, 229);
	margin-bottom: 10px;
} 

.default-textarea[placeholder] {
	font-weight: 300;
	font-size: .65em;
	font-family: 'Playfair Display', serif
}

.btn {
	background: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
	position: relative;
	font-weight: 700;
	padding: 10px 35px;
	font-size: 0.65em;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	        transition: all 0.3s;

}

.btn:before {
	position: absolute;
	z-index: -1;
	width: 20px;
	background-color: blue;
	left: 0;
	top: 0;
	content: "";
}

.bth:before:hover {
	background-color: ;
}

.btn:hover {
	background: transparent;
	color: yellow;
}

.btn--custom {
	border: 3px solid rgb(219, 10, 91);
	color: rgb(219, 10, 91);
}

.pull-right {
	text-align: right;
}
